<html>
<head>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<body>
<panel class="drweb_select-panel" style="display: none;">
    <div class="drweb_tool-panel">
        <div class="drweb_tool-icon drweb_tool-icon_show" data-co="restore-btn" title="restore"></div>
        <div class="drweb_tool-icon drweb_tool-icon_remove" data-co="remove-btn" title="remove"></div>
        <div class="drweb_fit-btn" data-co="fit-btn" title=""></div>
    </div>
    <span data-co="label">Select the elements you want to hide on this page.</span>
    <div class="drweb_btn" data-co="save">Save</div>
    <div class="drweb_btn" data-co="cancel">Cancel</div>
    <div class="drweb_panel-plug" data-co="plug" style="display: none"></div>
</panel>


<div class="pb-search-trigger"></div>

<div class="pb-search-container">
    <div class="pb-close-search-modal"></div>
    <div id="pb-global-search">
        <!-- Search input field -->
        <input name="Global search" id="pb-global-search-input" type="text" placeholder="Search the Marketplace here..." value="
        <%= ISTRUE(if(QueryStringItemExists(" s"),1,0))="" %="">

        &lt;%# EXPRESSION(

        qs := "";
        if:(QueryStringItemExists("s"))
        {
        qs := HTMLEncode(GetQueryStringText("s"));
        }
        qs;
        ) %&gt;

        &lt;%= %&gt;
        "&gt;
        <button type="button" id="pb-global-search-submit" value="Search"></button>
        <div class="pb-search-suggestions"></div>
    </div>
</div>

<script>



    /* Executing the parent function when document is ready, using vanilla JavaScript */
    if( document.readyState !== 'loading' ) {
        pbGlobalSearch();
    } else {
        document.addEventListener('DOMContentLoaded', function () {
            pbGlobalSearch();
        });
    }


    /* Parent function */
    pbGlobalSearch = function() {

        /* Function that performs search */
        function search() {
            var q = $('#pb-global-search-input').val(); /* Search query */
            console.log(q);
            if ( q != '' ) { /* If search query is not empty, redirect to the search results page  */
                window.location.href = "<%# LINK(ItemSearch) %>?s=" + q;
            }
            else {
                return false;
            }
        }

        /* Load suggestions when user starts typing in the search field */
        $('#pb-global-search-input').on('keyup touchend', function(q) {
            delay(function(){
                if ( q != '' ) {
                    loadSuggestions(q);
                } else {
                    $('.pb-search-suggestions').slideUp('fast');
                }
            },400)
        });



        /* Execute search when button is clicked */
        $('#pb-global-search-submit').click(function(e){
            e.preventDefault();
            search();
        });
        /* Execute search when ENTER is pressed */
        $('#pb-global-search-input').keypress(function(e){
            if(e.which == 13){
                e.preventDefault();
                search();
            }
        });

        /* Function that loads suggestions */
        function loadSuggestions(q) {

            if (q.length < 2 ) { /* Don't load suggstions if search query is 2 characters or less */
                return false;
            }


            /* Log the search query */
            console.log("<%# ENVIRONMENT(SITE) %>/cds/render?a=site-function-ProcessQuickSearchNEXT&s='" + encodeURIComponent(escapeJSON(q)) + "'");

            /* Fetch the search suggestions from a markup asset */
            $.post("<%# ENVIRONMENT(SITE) %>/cds/render?a=site-function-ProcessQuickSearchNEXT&s='" + encodeURIComponent(escapeJSON(q)) + "'",

                /* Display search suggestions in a container */
                function(response) {
                    $('.pb-search-suggestions').slideDown('fast');
                    $('.pb-search-suggestions').html(response);
                });
        }

        /* START Buggy code
        *   This code is supposed to escape the search query and build a part of the URL in
        *   the "loadSuggestions" function. This code is currently returning error "str is not defined"
        */
        function escapeJSON(str) {
            str = str.replace(/#/g, "");
            return str.replace(/"/g,'\\"');
        };

        /* END Buggy code */

    }
</script>
<!-- Asset end "PB-global-search" --></body></html>